SyntaxAcademy - Gnerate Posts WorkFlow.json
{
  "name": "SyntaxAcademy - Gnerate Posts WorkFlow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "67592bc1-7b5f-458f-abe9-142534719cad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lzxLbAqf_KrwRvYZVBSQtCGF4r47ZvqLnZqYvVjKsA0",
          "mode": "list",
          "cachedResultName": "idea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lzxLbAqf_KrwRvYZVBSQtCGF4r47ZvqLnZqYvVjKsA0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lzxLbAqf_KrwRvYZVBSQtCGF4r47ZvqLnZqYvVjKsA0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d5f90d20-29e5-457f-8eae-0d93f817d5bf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "55fboAXjAKIcoIA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.title }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "d905f524-b554-4158-94c9-4a91904c916f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=the idea title is: {{ $json.query }}\nthe contnet is: {{ $json.content }}",
        "options": {
          "systemMessage": "You are a helpful assistant\nwrite posts for website blog in arabick \nthe post must be at least 1000 words\nand it should be egagabale content\nyou will reseve a freshed data talking about any topic that i want you to gnerate post about"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "b404efcc-9d11-4c4e-82c9-f5d4a4ec32db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        192
      ],
      "id": "958f7516-24b9-4552-8dfd-a87c6bc5d64c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xQPgcaxvNVPpnDZZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "results[0].content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "f1a73f70-982b-44bb-a367-699cbf712be1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1a1gHMVA19wYI5mYMqqldQPQQc6v2DiQ_waCJABdaNQ0",
          "mode": "list",
          "cachedResultName": "Content Ideas 💡",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a1gHMVA19wYI5mYMqqldQPQQc6v2DiQ_waCJABdaNQ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a1gHMVA19wYI5mYMqqldQPQQc6v2DiQ_waCJABdaNQ0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Get row(s) in sheet').first().json.title }}",
            "content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        0
      ],
      "id": "b1451f64-6073-4ab1-a0b4-df79927542bc",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "55fboAXjAKIcoIA6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd9113fd-7a89-40ed-9eb5-ca63ee2efdb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc1b964f439233721d446db7e759d28045709f222845947c2faac36cfc0ba47b"
  },
  "id": "AMEn3kLrowrl4jxs",
  "tags": []
}